<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/OWNER/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="jjpps" />
      <add key="ClearTextPassword" value="oy2i6uvyieavuxjdffjaujwj3mg2kwae7djat2zntm37ce" />
    </github>
  </packageSourceCredentials>
</configuration>